body{
 background-color:  #ffffff;
 color:#202020;
 font-family: 'Vollkorn';
 width: 900px;
 margin:  60px auto 160px;
 font-size: 21px;
}

.content-wrapper  {
  word-break: break-all;
  width: 100%
}

p {
  font-size: 21px;
}

.list-margin{
  margin-bottom: 0;
}

ul {
  margin-top: 0;
}

.link-color {
  color: #0000EE 
}
