body{
 background-color:  #ffffff;
 color:#202020;
 font-family: 'Vollkorn';
 font-size: 21px;
 width: 900px;
 margin:  60px auto 160px;
}

.content-wrapper {
 width: 100%;
}

.list-margin{
  margin-bottom: 0;
}

ul {
  margin-top: 0;
}

.link-color {
  color: #0000EE 
}
