body{
 background-color:  #ffffff;
 color:#202020;
 font-family: 'Vollkorn', sans-serif;
 max-width: 900px;
 margin:  20px auto 160px;
 font-size: 21px;
}

.content-wrapper  {
  word-break: break-word;
  width: auto;
  margin: 0 20px;
}

.image-wrapper {
  max-width: 500px;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 21px;
}

.list-margin{
  margin-bottom: 0;
}

ul {
  margin-top: 0;
}

.link-color {
  color: #0000EE 
}
